DB_URL=jdbc:postgresql://192.168.56.21:5432/nova_commerce
DB_USERNAME=nova
DB_PASSWORD=nova_secret
REDIS_HOST=192.168.56.22
RABBITMQ_HOST=192.168.56.23
RABBITMQ_USERNAME=nova
RABBITMQ_PASSWORD=nova_secret
LAB_API_KEY=change-me
LAB_RABBITMQ_ENABLED=false
